<div {{bind-attr class=wrapperClazz}}>
  <button {{bind-attr class=buttonClazz}} type="button" tabindex="-1" data-click="pw-btn" data-pw="show">Show</button>
  {{input value=password type="password" id=inputId class=inputClazz tabindex=tabindex}}
</div>
