<div class="ember-password-toggle-wrapper">
  <button class="ember-password-toggle-btn" type="button" tabindex="-1" data-click="pw-btn" data-pw="show">Show</button>
  {{input value=password type="password" class=classes}}
</div>
