<div class={{wrapperClazz}}>
  <button class={{buttonClazz}} type="button" tabindex="-1" data-click="pw-btn" data-pw="show">Show</button>
  {{input value=password type="password" id=inputId class=inputClazz tabindex=tabindex maxlength=maxlength autocomplete=autocomplete placeholder=placeholder}}
</div>
