<h2 id="title">Welcome to Ember.js</h2>
{{password-toggle password=model.password wrapperClass="wrapperPassword1" buttonClass="buttonPassword1" inputClass="text-input password1" focus=true}}
{{password-toggle password=model.confirmPassword wrapperClass="wrapperPassword2" buttonClass="buttonPassword2" inputClass="text-input confirm-password2"}}

{{outlet}}
