<h2 id="title">Welcome to Ember.js</h2>
{{password-toggle password=model.password wrapperClass="wrapperPassword1" buttonClass="buttonPassword1" inputClass="text-input password1" focus=true}}
{{password-toggle tabindex=3 inputId="password" password=model.confirmPassword wrapperClass="wrapperPassword2" buttonClass="buttonPassword2" inputClass="text-input confirm-password2"}}
{{password-toggle inputId="passwordWithAction" password=model.anything wrapperClass="wrapperPassword2" buttonClass="buttonPassword2" action="triggerAction" inputClass="text-input confirm-password3"}}

{{#if triggered }}<p id="action-triggered">true</p>{{/if}}

{{outlet}}
